/*/////// MEDIA ////////*/

img, video, audio, iframe, table, form {
  width: 100%; /* IE */
  max-width: 100%; /* FF, Safari, Chrome */
}

/*/////// lAYOUT STYLES ////////*/

.row {
  margin-right: 20px;
}
